:root {
  --white: #ffffff;
  --black: #000000;
  --chat-background-color: #DBE1ED;
  --light-gray: #eeeeee;
  --dark-gray: #bebebe;
  --light-blue: lightblue;
  --bubble-sender:#E0E0DF;
  --bubble-receiver: #C2E2AB;
}

.App {  
  align-items: center;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  text-align: center;
}

.Chat {
  background: var(--chat-background-color);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);  
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  height: 20rem;
  justify-content: space-between;
  margin: 0 auto;
  width: 20rem;  
}