:root {
  --color-black: #262626;
  --color-burnt-sienna: #EB5757;
  --color-concrete: #F2F2F2;
  --color-cornflower-blue: #DBE1ED;  
  --color-dark-gray: #5A5A5A;
  --color-gray: #828282;
  --color-mantis: #65C466;
  --color-mantis-darker: #58AB5A;
  --color-medium-purple:#9B51E0;
  --color-white: #ffffff;
  --color-wild-sand: #F5F5F5;
  --color-wild-sand-darker: #D8D8D8;
}

body {
  margin: 0;
  padding: 0;
}

.App {  
  align-items: center;
  background-color: var(--color-cornflower-blue);
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  text-align: center;
}

.Chat {
  background: var(--color-white);
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  max-height: 90vh;
  min-height: 20rem;
  overflow: scroll;
  width: 20rem;  
}