.Message {
  /* border-radius: 1.5rem; */
  color: var(--black);
  max-width: 9rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
  position: relative;
  text-align: left;
  width: fit-content;
}

/* fix width around */
.Message.Message--sender {
  background-color: var(--bubble-sender);
  border: 1px solid var(--bubble-sender-border);
}

.Message.Message--receiver {
  align-self: flex-end;  
  background-color: var(--bubble-receiver);
  border: 1px solid var(--bubble-receiver-border);
  right: 2rem;
  border-radius: 15px;
}

.Message.Message--thinking {
  color: var(--dark-grey)
}

.Message__arrow.Message__arrow--left {
  background: red;
}

.Message__arrow--right::before {
  border-right: 24px solid transparent;
  border-bottom: 16px solid var(--bubble-receiver-border);
  bottom: 2px;
  content: "";
  position: absolute;
  right: -17px;
}

.Message__arrow--right::after {
  border-right: 24px solid transparent;
  border-bottom: 16px solid var(--bubble-receiver);
  bottom: 3px;
  content: "";
  position: absolute;
  right: -16px;
}