.Message {
  border-radius: 1rem;
  color: var(--black);
  font-size: 1rem;
  max-width: 9rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
  position: relative;
  text-align: left;
  width: fit-content;
}

.Message.Message--sender {
  align-self: flex-end;  
  background-color: var(--bubble-sender);
  border: 0.0625rem solid var(--bubble-sender-border);
  right: 2rem;
}

.Message.Message--receiver {
  background-color: var(--bubble-receiver);
  border: 0.0625rem solid var(--bubble-receiver-border);
  left: 2rem;
}

.Message.Message--thinking {
  color: var(--dark-gray)
}

.Message__arrow--right::before,
.Message__arrow--right::after,
.Message__arrow--left::before,
.Message__arrow--left::after {
  content: "";
  position: absolute;
}  

.Message__arrow--right::before,
.Message__arrow--right::after {
  border-right: 1.5rem solid transparent;
}

.Message__arrow--right::before {
  border-bottom: 1rem solid var(--bubble-sender-border);
  bottom: 0.125rem; /* 2px */
  right: -1.0625rem; /* -17px */
}

.Message__arrow--right::after {
  border-bottom: 1rem solid var(--bubble-sender);
  bottom: 0.1875rem; /* 3px */
  right: -1rem;
}

.Message__arrow--left::before,
.Message__arrow--left::after {
  border-left: 1.5rem solid transparent;
}

.Message__arrow--left::before {
  border-bottom: 1rem solid var(--bubble-receiver-border);
  bottom: 0.125rem; /* 2px */
  left: -1.0625rem; /* -17px */
}

.Message__arrow--left::after {
  border-bottom: 1rem solid var(--bubble-receiver);
  bottom: 0.1875rem; /* 3px */
  left: -1rem;
}


/* Highlight Logic */
.Message.Message--highlight {
  font-size: calc((1rem / 100 * 10) + 1rem);
}

.Message.Message--highlight.Message--sender {
  background-color: var(--bubble-sender-darker);
}

.Message.Message--highlight.Message--sender .Message__arrow--right::after {
  border-bottom-color: var(--bubble-sender-darker);
}

.Message.Message--highlight.Message--receiver {
  background-color: var(--bubble-receiver-darker);
}

.Message.Message--highlight.Message--receiver .Message__arrow--left::after {
  border-bottom-color: var(--bubble-receiver-darker);
}

.Message.Message--fade-last {
  opacity: 0.1;
  transition: opacity 0.5s;
}