.Message {
  border-radius: 1.5rem;
  color: var(--black);
  max-width: 7rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  text-align: left;
}

/* fix width around */
.Message.Message--sender {
  background-color: var(--bubble-sender);
  border: 1px solid #878A91;
}

.Message.Message--receiver {
  align-self: flex-end;  
  background-color: var(--bubble-receiver);
  border: 1px solid #6F8873;
  position: relative;
}

.Message.Message--receiver:after {
  background: red;
  content: '';
  height: 2rem;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2rem;
}

.Message.Message--thinking {
  color: var(--dark-grey)
}