.InputText {
  background-color: var(--color-concrete);
  border: 0;
  border-radius: var(--border-radius);
  color: var(--color-black);
  flex: 2;
  margin-right: 0.5rem;
  padding: 0.5rem;
}

.InputText::placeholder {
  color: var(--color-gray)
}