.Button {
  border: 0;
  background-color: var(--color-medium-purple);
  border-radius: var(--border-radius);
  color: var(--color-white);
  padding: 0.5rem;
  width: 4rem;
}

.Button.-disabled {
  background-color: var(--color-gray);
}