.Countdown {
  align-items: center;
  background: var(--color-burnt-sienna);
  border-radius: 100%;
  color: white;
  display: flex;  
  font-size: 4rem;
  font-weight: 400;
  height: 11rem;
  left: calc(50% - 5.5rem);
  justify-content: center;
  position: absolute;
  text-align: center;
  top: calc(50% - 5.5rem);
  width: 11rem;
  z-index: 1000;
}