.Countdown {
  align-items: center;
  background: red;
  border-radius: 1.5rem;
  color: white;
  display: flex;  
  font-size: 4rem;
  font-weight: 400;
  height: 12rem;
  left: calc(50% - 15rem);
  justify-content: center;
  position: absolute;
  text-align: center;
  top: calc(50% - 6rem);
  width: 30rem;
  z-index: 1000;
}