.Main {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  position: relative;
}

.Main::before {
  background: var(--chat-background-color);
  content: '';
  height: 1rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9;
}