.Main {
  display: flex;
  flex-direction: column;
  padding: var(--padding-chat);
  position: relative;
}

.Main::before {
  background: var(--color-white);
  content: '';
  height: 1rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9;
}