.Header {
  background-color: var(--chat-background-color-darken);
  border-bottom: 0.125rem solid var(--light-gray);
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  padding: 1rem;
  text-align: left;
}